.Exercícios1 li {
    list-style: none;
    display: inline;
}

.Exercícios1 a{
    padding:5px;
    background-color: rgb(148, 148, 231);
    border-radius:5px;
    color:white; 
    text-decoration: none;
    margin-bottom:0px;
}

.Exercícios1 {
    background-color: rgb(69, 69, 252);
    color:white;
    padding-top:30px;
    padding-bottom:1px;
}

body {
    background: rgb(119, 119, 185);
    font: normal 15pt Arial;
}

section {
    background: white;
    border-radius: 10px;
    padding:15px;
    width:500px;
    margin:auto;
    box-shadow: 5px 5px 10px black;
}

footer {
    color:white;
    text-align:center;
    font-style:italic;
}

.tipoheader {
    color:white;
    text-align:center;
}

div {
    text-align:center;
    padding:10px;




}