body {
    background-color: rgb(147, 149, 235);
}

.Exercícios5 li {
    list-style: none;
    display: inline;
}

.Exercícios5 a{
    padding:5px;
    background-color: rgb(148, 148, 231);
    border-radius:5px;
    color:white; 
    text-decoration: none;
    margin-bottom:0px;
}

.Exercícios5 {
    background-color: rgb(69, 69, 252);
    color:white;
    padding-top:30px;
    padding-bottom:1px;
}

.finalsection {
    background-color: white;
    width: 400px;
    height:400px;
    margin:auto;
    padding: 5px;
    border-radius:10px;
}

.Finatitle {
    color:white;
    text-align:center;
}

.finalfooter {
    text-align:center;
    margin: 20px;
    color:white;
    font-size:15pt;
}

.ramon{
    text-decoration: underline;
}

.selecione {
    width:150px;
    height: 100px;
}